<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<display-name>Servlet</display-name>
 	<welcome-file-list>  
   		<welcome-file>index.html</welcome-file>  
  	</welcome-file-list>

	<servlet>
      <servlet-name>Servlet</servlet-name>
      <servlet-class>org.dbpedia.infoboxprov.webinterface.Servlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
   </servlet-mapping>

	
</web-app>